html {
    height: 100%;
}

body {
    background: url('/media/homepage-hero-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto', sans-serif;
}
    

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

h2.logo-font strong {
    color: #842e23;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* -------------------------------- Buttons */
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

/* add to bag buttons */
.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

/* -------------------------------- Back to top button */

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin-bottom: 9px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Add post  */

.btn.btn-black.border.border-black.rounded-0.add-post-btn {
    height: 38px;
    margin-left: 1px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Products category badge */

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* -------------------------------- Message - Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
} 

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ------------------------------- All authority forms */
.header-container
div.allauth-form-inner-content {
    /* margin-top: 50px; */
    min-height: 90vh;
}

/* -------------------------------- Allauth form formating */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* -------------------------------- Product Form */
/* Select Image button */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Checkout box to remove image */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Blog posts */
.blog-container {
    margin-top: 160px;
}

/* -------------------------------- Blog post detail */

.post-detail-container {
    margin-top: 120px;
}

  /* ------------------------------- Shopping bag */
  .shopping-bag-container {
    min-height: 80vh;
}

/* -------------------------------- Footer */

footer {
    background-color: #f1f2f4;
    height: 80px;
    padding-top: 20px;
    /* padding-bottom: 30px; */
}

footer ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.social-media {
    text-align: center;
}

.social-media ul li {
    margin-left: 10px;
    margin-right: 10px;
}

.social-media ul li a {
    color: black;
    font-size: 1.7rem;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }

    /* -------------------------------- Blog */
    .blog-container {
        padding: 30px 0px;
    }

    .blog-container
    div.row.mt-3 {
        padding-bottom: 15px;
    }

    .post-container
    div.row.mt-1.mb-2 {
        padding-bottom: 15px;
    }

    /* -------------------------------- Add Blog Post */
    .add-post-container {
        margin-top: 15px;
    }

    .add-post-container
    div.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* -------------------------------- Edit Blog Post */
    .edit-post-container {
        margin-top: 15px;
    }

    .edit-post-container
    div.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    /* -------------------------------- Blog post detail */
    .post-detail-container {
        margin-top: 160px;
    }

    .post-detail-header h2 {
        margin-top: 30px;
    }

    /* -------------------------------- Product */
    .products-container {
        margin-top: 30px;
    }

    .products-container
    div.col-10.offset-1 {
        margin-top: 30px;
    }

    .products-container
    div.row.mt-1.mb-2 {
        padding-bottom: 25px;
    }

    /* -------------------------------- Add Product */
    .add-product-container
    div.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3 {
        margin-top: 30px;
    }

    /* -------------------------------- Edit Product */
    .edit-product-container
    div.col-12.col-md-8.offset-md-2.col-lg-6.offset-lg-3 {
        margin-top: 30px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    /* ------------------------------- Home page */
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    /* ------------------------------- Navigation bar */

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 0.9rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: .9rem;
    }

    .navbar ul {
        font-size: .9rem; /* was 1rem, reduce cause broke nav  */
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0px;
    }

    .navbar ul li a {
        padding: 8px 10px;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }

    /* ------------------------------- Product details */
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    /* ------------------------------- Blog page */
    .blog-container{
        margin-top: 110px;
    }
    .search-panel {
        padding-left: 0;
        padding-right: 0;
    }

}

/* ------------------------------- for small devices: width is 320px wide or less */
@media (max-width: 320px) {

    /* ------------------------------- Home */
    .shop-now-button {
        min-width: 200px;
    }

    /* ------------------------------- Checkout */
    .order-confirmation-wrapper {
        font-size: .9rem;
    }

    .submit-button.text-right.mt-5.mb-2 {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* ------------------------------- My Profile page button */
    .btn.btn-black.rounded-0.text-uppercase.float-right {
        width: 100%;
        margin-bottom: 1rem;
    }

    /* ------------------------------- Checkout Success page button */
    .col-12.col-lg-7.text-right {
        margin-top: 15px;
    }

    .btn.btn-black.rounded-0.my-2 {
        width: 100%;
        margin-top: 1rem;
    }

    /* ------------------------------- Add comment button */
    .add-comment-btn
    button.btn.btn-black.rounded-0 {
        width: 100%;
    }

    /* ------------------------------- Add Product page */
    .add-product-form 
    span.btn.btn-black.rounded-0.btn-file {
        width: 100%;
    }

    .add-product-form
    a.btn.btn-outline-black.rounded-0 {
        width: 49%;
    }

    .add-product-form
    button.btn.btn-black.rounded-0 {
        width: 49%;
    }

    /* ------------------------------- Edit Product page */
    .edit-product-form 
    span.btn.btn-black.rounded-0.btn-file {
        width: 100%;
    }

    .edit-product-form
    a.btn.btn-outline-black.rounded-0 {
        width: 49%;
    }

    .edit-product-form
    button.btn.btn-black.rounded-0 {
        width: 49%;
    }

    /* ------------------------------- Product Detail */
    .product-detail-btn {
        text-align: center;
    }

}