<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home link -->
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- link to all products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!-- four more links -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                <a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                <a class="dropdown-item" href="{% url 'products' %}">All Products</a>
            </div>
        </li>
         <!-- menu for clothing -->
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <!-- four more links -->
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=compressions">Compressions</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=t_shirts">T-Shirts</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=shorts">Shorts</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=compressions,t_shirts,shorts">All Clothing</a>
            </div>
        </li>
        <!-- link to boxing gear -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Boxing Gear
            </a>
            <!-- few more links -->
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=gloves">Gloves</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=head_guard">Head Guards</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=protective_gear">Protective Gear</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=gloves,head_guard,protective_gear">All Boxing Gear</a>
            </div>
        </li>
         <!-- menu for Training Gear -->
         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Training Gear
            </a>
            <!-- four more links -->
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a class="dropdown-item" href="{% url 'products' %}?category=skipping_ropes">Skipping Ropes</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=boxing_bag">Boxing Bags</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=speed_bag_platform">Speed Bag Platforms</a>
                <a class="dropdown-item" href="{% url 'products' %}?category=skipping_ropes,boxing_bag,speed_bag_platform">All Training Gear</a>
            </div>
        </li>
        <!-- Blog link -->
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'posts' %}">
                Blog
            </a>
        </li>
    </ul>
</div>