<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- link to all products -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!-- four more links -->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="#">By Price</a>
                <a class="dropdown-item" href="#">By Rating</a>
                <a class="dropdown-item" href="#">By Category</a>
                <a class="dropdown-item" href="#">All Products</a>
            </div>
        </li>
    </ul>
</div>