{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container blog-container">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">X Cherry Blog</h2>
            <!-- for loop and content doesn't need to you it's good if will be show multiple categories -->
            <!-- {% for c in current_categories %}
                <a href="{% url 'posts' %}?category={{ c.name }}" class="category-badge text-decoration-none">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-black">{{ c.friendly_name }}</span>
                </a>
            {% endfor %} -->
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- search panel -->
    <div class="row mt-3">
        <div class="col-8 my-auto py-1 py-lg-0 offset-2">
            <form method="GET" action="{% url 'posts' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search our blog">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                        <!-- Only admin have access -->
                        {% if request.user.is_superuser %}
                            <a href="" class="btn btn-black border border-black rounded-0 add-post-btn">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span class=""></span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="post-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <!-- Sorting Blog posts panel -->
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            <option value="date_asc" {% if current_sorting == 'date_asc' %}selected{% endif %}>Date (Oldest-Latest)</option>
                            <option value="date_desc" {% if current_sorting == 'date_desc' %}selected{% endif %}>Date (Latest-Oldest)</option>
                        </select>
                    </div>
                </div>
                <!-- Back to Blog and counter posts -->
                <div class="col-12 col-md-6">
                    <p class="text-muted mt-3 text-center text-md-left order-md-first">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'posts' %}">Back to Blog</a> | </span>
                        {% endif %}
                        {{ posts|length }} Posts{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row">  
                <!-- Need to remove 'reversed' word, couse make issues in sorting -->
                {% for post in posts %}  
                    <div class="col-12 col-lg-6 col-xl-4">
                        <div class="card h-100 border-0">
                            <div class="card-body text-left">
                                <h2>{{ post.title }}</h2>
                                <!-- <p><small class="text-muted"><i class="fas fa-feather-alt"> {{ post.category }}</i></small></p> -->
                                {% if post.category %}
                                    <p class="small mt-1 mb-0">
                                        <a href="{% url 'posts' %}?category={{ post.category.name }}" class="text-muted">
                                            <i class="fas fa-tag mr-1"></i>{{ post.category.friendly_name }}
                                        </a>
                                    </p>
                                {% endif %}
                                <p>{{ post.content|truncatewords:50 }}</p>
                                <p><small class="text-muted">{{ post.date }}</small></p>
                                <p><strong>{{ post.created_by }}</strong></p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-center">
                                <a href="{% url 'blog_post_detail' post.id %}" class="btn btn-outline-black rounded-0">
                                    <!-- <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span> -->
                                    <span class="text-uppercase">view more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Back to top button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <!-- Back to top -->
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>

    <!-- Blog posts sort box -->
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}