{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container blog-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">X Cherry Blog</h2>
                {% for c in current_categories %}
                    <a href="{% url 'posts' %}?category={{ c.name }}" class="category-badge text-decoration-none">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-black">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <!-- search panel -->
        <div class="row mt-3">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'posts' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q"
                            placeholder="Search our blog">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="post-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for post in posts reversed %}
                        <div class="col-12 col-lg-6 col-xl-4">
                            <div class="card h-100 border-0">
                                <div class="card-body text-left">
                                    <h2>{{ post.title }}</h2>
                                    <!-- <p><small class="text-muted"><i class="fas fa-feather-alt"> {{ post.category }}</i></small></p> -->
                                    {% if post.category %}
                                        <p class="small mt-1 mb-0">
                                            <a href="{% url 'posts' %}?category={{ post.category.name }}" class="text-muted">
                                                <i class="fas fa-tag mr-1"></i>{{ post.category.friendly_name }}
                                            </a>
                                        </p>
                                    {% endif %}
                                    <p>{{ post.content|truncatewords:50 }}</p>
                                    <p><small class="text-muted">{{ post.created_date }}</small></p>
                                    <p><strong>{{ post.created_by }}</strong></p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-center">
                                    <a href="{% url 'blog_post_detail' post.id %}" class="btn btn-outline-black rounded-0">
                                        <!-- <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span> -->
                                        <span class="text-uppercase">view more</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}