{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container blog-container">
        <div class="row">
            <div class="col">
                {% for post in posts %}
                    <div class="card">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                        <p><small>{{ post.created_date }}</small></p>
                        <p><strong>{{ post.created_by }}</strong></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}